.loader {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: white;

  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}
