.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  width: 1240px;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  cursor: pointer;
}
.card-cont {
  display: flex;
  justify-content: center;
}
.card-cont span {
  font-weight: 500;

}
